doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 劉盈秀作品集
        link(rel="shortcut icon" href="./images/icon.ico")
        link(rel="stylesheet" href="./style.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")  
    body(class="loading")
        #loading_bar
            .circle 
                img(src="./images/cat.svg")
            .loading_text 
                h2 HELLO!
                h2 I'M YING XIU
        nav
            ul
                li
                    .circle
                        img(src="./images/cat.svg", alt="")
                    h2 劉盈秀
                li
                    a(href="#skills") Skills 
                li
                    a(href="#works") Works
                li
                    a(href="#about") About
            .contact
                    a(href="https://github.com/CocoCat56" target="_blank")
                        i(class="fab fa-github-square")
                    a(href="mailto:zo7758002@gmail.com")
                        i(class="fas fa-envelope")
        .nav_btn
            .line
        main  
            .bg
                img(src="./images/bg.jpg")
                img(src="./images/seed.svg")
                img(src="./images/seed.svg")
                img(src="./images/seed.svg")
                img(src="./images/seed.svg")
                img(src="./images/seed.svg")
            .mark 
            .top 
                .container
                    p Hello!
                        br
                        | Here's who I am & what I do
                    a(href="#skills")
                        img(src="./images/down.svg")
            section#skills 
                .container 
                    h2(class="visible") Skills
                    .skill_items 
                        .item(class="visible")
                            i(class="fas fa-laptop-code")
                            h3 網頁開發
                            ul 
                                li HTML、pug
                                li CSS、SASS
                                li JavaScript、Vue.js
                                li jQuery、Bootstrap
                                li 串接API ( AJAX / Axios )
                                li PHP、MySQL
                        .item(class="visible") 
                            i(class="fas fa-palette")
                            h3 UI Design
                            ul 
                                li Adobe Illustrator
                                li Adobe Photoshop
                                li Adobe XD
                        .item(class="visible") 
                            i(class="fas fa-cogs")
                            h3 工具軟體
                            ul 
                                li Git、GitHub
                                li Zeplin
                                li XMind
                                li VS Code
            section#works 
                .container 
                    h2 Works
                    .work_item(class="visible" v-for="(work, key) in worksData" :key="key")
                        .item_img 
                            img(:src="work.image", :alt="work.workName")
                        .item_content
                            h3 {{ work.workName }}
                            ul 
                                li(v-for="(item, key) in work.desc" :key="key") {{ item }} 
                                li.skill {{ work.skill }}
                            .web_link 
                                a(:href="work.github" target="_blank") GitHub 
                                a(:href="work.web" target="_blank") 前往網站
            section#about 
                .container 
                    h2 About
                    .text
                        p 我是盈秀，擁有網頁開發、影像處理和 UI 介面設計能力，持續學習前端技術並提升程式邏輯與解決問題的能力，享受將 UI 設計稿一步一步實作成網頁的過程。
            footer
                h2 劉盈秀作品集 
                a(href="https://github.com/CocoCat56" target="_blank")
                    i(class="fab fa-github-square")
                a(href="mailto:zo7758002@gmail.com")
                    i(class="fas fa-envelope")
                p Copyright © 2021 劉盈秀 All Rights Reserved. 
        script(src="./js/vue.global.prod.js")
        script(src="./js/data.js")
        script(src="./js/script.js")